name: CI-CD to EKS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup AWS
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1

    - name: Login to ECR
      run: |
        aws ecr get-login-password --region ap-south-1 | \
        docker login --username AWS --password-stdin 329668418627.dkr.ecr.ap-south-1.amazonaws.com

    - name: Build and Push
      run: |
        docker build -t 329668418627.dkr.ecr.ap-south-1.amazonaws.com/musicwebapp-dev:latest .
        docker push 329668418627.dkr.ecr.ap-south-1.amazonaws.com/musicwebapp-dev:latest

    - name: Setup kubectl
      run: |
        curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
        chmod +x kubectl
        sudo mv kubectl /usr/local/bin/

    - name: Update kubeconfig
      run: |
        aws eks update-kubeconfig --region ap-south-1 --name ${{ secrets.EKS_CLUSTER_NAME }}

    - name: Deploy
      run: |
        kubectl apply -f manifest/deployment.yml
        kubectl apply -f manifest/service.yml
        kubectl rollout restart deployment/musicapp